
body.page-sub{
  #header{

    .navbar-brand {
      .logo{
        &:hover{
          color: $black;
        }
      }
    }
  }
}

#header {
  .navbar-brand {
    .logo{
      width: $project-logo-width;
      padding: 0;
      line-height: $header-height;
      background-position: 0 center;
      font-size: 0;
      text-transform: uppercase;
      background: image-url("logowhip-small.png");
      background-size: 140px;
      background-position: 0 center;
      background-repeat: no-repeat;

      &:hover{
        opacity: .4;
      }
    }
  }

  .buttons{
    margin-top: 2px; //baseline everything
  }
}

@media (max-width: 414px) {
  #header {
    .navbar-brand {
      .logo{
        width: $project-logo-width * .75;
        @include img-retina("../images/logowhip-small.png", "../images/logowhip-small.png", $project-logo-width * .75, $project-logo-height * .75);
      }
    }
  }
}


@media (max-width: 320px) {
  #header {
    .navbar-brand {
      .logo{

      }
    }
  }
}
